In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
ufo_data = pd.read_csv('../UFO_data.csv')
ufo_data

,Date,City,State,Country,Shape,Duration,Summary,Posted,Images,ReportNum,Location,Latitude,Longitude
0,2022-07-31 21:59:00,West Lafayette,OH,USA,Light,4 minutes,Bright circle light moving through sky.,9/9/22,Yes,1,"West Lafayette, OH",40.275349,-81.750960
1,2022-07-31 21:45:00,Burr Ridge,IL,USA,Other,NaN,"Strange red, blue and black craft in the sky a...",9/9/22,Yes,2,"Burr Ridge, IL",41.748920,-87.918392
2,2022-07-31 21:15:00,Conway,SC,USA,Circle,Less than a minute,Round bright white light go in a straight line...,9/9/22,NaN,3,"Conway, SC",33.836003,-79.047814
3,2022-07-31 21:11:00,Keyser,WV,USA,Light,2 minutes,Saw an orb that interacted with me.,9/9/22,NaN,4,"Keyser, WV",39.440928,-78.973916
4,2022-07-31 20:43:00,gressham,OR,USA,Unknown,less than a minute,A single soft red light that pulsed three time...,9/9/22,NaN,5,"gressham, OR",45.504472,-122.435666
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2055,2022-12-01 18:10:00,Blakeslee,OH,USA,Sphere,5 minutes,Bright spherical object moving linear west to ...,12/22/22,Yes,2126,"Blakeslee, OH",41.524217,-84.730233
2056,2022-12-01 18:00:00,Snowflake,AZ,USA,Triangle,2 minutes,I grew up on a 40 acre parcel of land with thr...,12/22/22,NaN,2127,"Snowflake, AZ",34.513370,-110.078449
2057,2022-12-01 14:10:00,El paso,TX,USA,Oval,Ten minutes,It appeared out of nowhere & slowly moved acro...,12/22/22,NaN,2129,"El paso, TX",31.761878,-106.485022
2058,2022-12-01 06:20:00,CHARLESTOWN,IN,USA,Light,2 to 3 minutes,Bright object was seen arriving and silently h...,12/22/22,Yes,2130,"CHARLESTOWN, IN",38.453120,-85.670241
2059,2022-12-01 03:59:00,Mansfield,TX,USA,Changing,60 seconds,Looked like a drone but moved way too fast the...,12/22/22,NaN,2131,"Mansfield, TX",32.563192,-97.141677

In [14]:
ufo_state = ufo_data.groupby('State').count()['City']
ufo_state

State
AK                  3
AL                 28
AR                 18
AZ                 64
American Samoa      1
CA                203
CO                 58
CT                 35
DC                  3
DE                 11
FL                152
GA                 35
HI                  5
IA                 14
ID                 24
IL                 58
IN                 38
KS                 12
KY                 27
LA                 21
MA                 53
MD                 31
ME                 25
MI                 50
MN                 33
MO                 42
MS                 12
MT                 18
NC                 67
ND                  2
NE                  8
NH                 24
NJ                 54
NM                 27
NV                 26
NY                103
OH                 75
OK                 26
ON                  1
OR                 51
PA                113
RI                 12
SC                 30
SD                  6
TN                 37
TX                 89
UT                 22
VA                 42
VT                 16
WA                 82
WI                 49
WV                 14
WY                 10
Name: City, dtype: int64