In [17]:
#Imports
import os
import pandas as pd
import numpy as np

In [18]:
#Read CSV
ufo_data = pd.read_csv('../UFO_data.csv')

In [19]:
#Remove American Territories - US States Only
ufo_data = ufo_data.drop(ufo_data[ufo_data['State'] == "American Samoa"].index)

In [30]:
#Summary of UFO Sightings by State
print("Count of UFO Sightings by State:")
states = ufo_data.groupby(['State']).size().to_frame(name = 'Sightings').reset_index()
states

Count of UFO Sightings by State:

   State  Sightings
0     AK          3
1     AL         28
2     AR         18
3     AZ         64
4     CA        203
5     CO         58
6     CT         35
7     DC          3
8     DE         11
9     FL        152
10    GA         35
11    HI          5
12    IA         14
13    ID         24
14    IL         58
15    IN         38
16    KS         12
17    KY         27
18    LA         21
19    MA         53
20    MD         31
21    ME         25
22    MI         50
23    MN         33
24    MO         42
25    MS         12
26    MT         18
27    NC         67
28    ND          2
29    NE          8
30    NH         24
31    NJ         54
32    NM         27
33    NV         26
34    NY        103
35    OH         75
36    OK         26
37    ON          1
38    OR         51
39    PA        113
40    RI         12
41    SC         30
42    SD          6
43    TN         37
44    TX         89
45    UT         22
46    VA         42
47    VT         16
48    WA         82
49    WI         49
50    WV         14
51    WY         10

In [11]:
ufo_state = ufo_data.groupby('State').count()['City']

In [13]:
# write to csv file
states.to_csv('sightings_state.csv')